.container {
  border: 1px solid red;

  max-width: 1200px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  justify-content: center;
  align-items: center;

  padding: 30px;

  background-color: #dbeffa;
}

/* ----------------------------- */

/*
#services-section {
    background-color: var(--color-primary);
}

.services_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    gap: 20px;
}
*/
