.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;

  min-width: 280px;
  max-width: 440px;

  margin: 0 20px;
  border-radius: 7px;
  padding: 10px;
}

/* .container:hover { */
/*   box-shadow: var(--box-shadow); */
/* } */

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;

  margin: auto;
  font-size: var(--fm-normal);
}

.image {
  width: 64px;
  height: 64px;
  margin: 6px 10px;
}

.title {
  font-size: var(--fm-title);
  color: var(--c-1);
}

.more {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;

  width: fit-content;

  color: var(--c-2);
}

.more:hover {
  text-shadow: 0 0 2px var(--c-2);
}

.more img {
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 800px) {
  .container {
    width: 380px;
    max-width: 380px;
    margin: 0;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 480px;
    max-width: 480px;
    margin: 0;
  }

  .image {
    width: 74px;
    height: 74px;
  }

  .content {
    font-size: var(--fd-normal);
  }

  .title {
    font-size: var(--fd-title);
  }
}
