.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  min-width: 300px;
  max-width: 300px;
  height: 200px;

  border-radius: 11px;
}

.content {
  height: fit-content;
  width: 260px;

  margin: auto;

  text-align: center;
  font-weight: 500;
}

.image {
  width: 60px;
  height: 60px;

  margin: auto;
}

.title {
  margin-top: 4px;
  font-weight: bold;
}
