.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  min-width: 280px;
  max-width: 440px;

  padding: 10px;

  margin: 0 20px;
  border-radius: 6px;
  border: 1px solid var(--c-shade);

  background-color: var(--c-white);
}

.content {
  width: 100%;

  margin: auto;

  text-align: left;
}

.image {
  width: 60px;
  height: 60px;

  margin: auto;
}

.title {
  font-size: var(--fm-big);
  color: var(--c-1);
}


@media screen and (min-width: 800px) {
  .container {
    width: 380px;
    max-width: 380px;
    margin: 0;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 480px;
    max-width: 480px;
    margin: 0;
  }

  .image {
    width: 66px;
    height: 66px;
  }

  .title {
    font-size: var(--fd-big);
  }

  .content {
    font-size: var(--fd-normal);
  }
}
