.form {
  min-width: 300px;
  max-width: 400px;

  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 100%;

  padding: 20px;
  /* border: 1px solid #000; */

  color: var(--color-black);
}

.group {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input,
.textarea {
  width: 100%;

  border: 1px solid var(--color-gray-input);
  border-radius: 6px;
  padding: 8px;
}

.input::placeholder,
.textarea::placeholder {
  color: var(--color-gray-mid);
}

.input:focus,
.textarea:focus {
  border: 1px solid transparent;
  outline: 3px solid var(--color-orange);
}

.textarea {
  resize: none;
  height: 180px;
}

.button {
  margin-top: 4px;
  border: 2px solid var(--color-orange);
  border-radius: 12px;
  padding: 6px 12px;

  background-color: var(--color-orange);
  box-shadow: 0px 0px 2px var(--color-gray-input);

  cursor: pointer;

  font-weight: bold;
  color: var(--color-white);
}

.button:hover {
  transition-duration: var(--transition-duration-button);
  background-color: var(--color-white);
  border-color: var(--color-orange);
  color: var(--color-orange);
}
