.form {
  min-width: 300px;
  max-width: 400px;

  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 100%;

  padding: 20px;
}

.group {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input,
.textarea {
  width: 100%;

  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 8px;
}

.input:focus,
.textarea:focus {
  border: 1px solid transparent;
  outline: 3px solid var(--c-2);
}

.textarea {
  resize: none;
  height: 180px;
}

.button {
  margin-top: 4px;
  color: red;
}
