.form {
  min-width: 280px;

  margin: 20px;

  font-size: var(--fm-normal);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 100%;
}

.group {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input,
.textarea {
  width: 100%;

  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 8px;
}

.input:focus,
.textarea:focus {
  border: 1px solid transparent;
  outline: 3px solid var(--c-2);
}

.textarea {
  resize: none;
  height: 180px;
}

.button {
  margin-top: 4px;
  color: red;
}

@media screen and (min-width: 1000px) {
  .form {
    min-width: 300px;
    font-size: var(--fd-normal);
  }

  .content {
    gap: 14px;
  }

  .textarea {
    height: 206px;
  }
}
