.section {
  background-color: var(--c-2L);
  padding: 100px 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 100%;
  min-width: 280px;

  margin: auto;
  padding: 20px;
}

@media screen and (min-width: 1300px) {
  .container {
    flex-direction: row;
  }
}
