:root {
  --color-black: #111111;
  --color-white: #ffffff;
  --color-white-shade: #eeeeee;

  --color-gray-dark: #363636;
  --color-gray-mid: #707070;
  --color-gray-border: #dee2e6;
  --color-gray-input: #909090;

  --color-blue: #34c2cb;
  --color-blue-light: #dbeffa;

  --color-orange: #ff8e4f;
  --color-orange-light: #ffe4d6;

  --transition-duration-button: 120ms;
  --font-size-default: 16px;

  --transition-duration: 260ms;
  --navigation-vertical-size: 40px;
}

body {
  background-color: var(--color-blue-light);
  background-color: var(--color-white);
  background-color: var(--color-white-shade);
  color: var(--color-white);

  min-width: 320px;
  min-height: 100vh;

  margin: 0;
  border: 1px solid transparent;

  font-family: "Lato", "Times New Roman", Times, serif;
  font-size: var(--font-size-default);
  font-weight: 300;
}

.disable-selection {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.text-bold {
  font-weight: 500;
}
