:root {
  --color-black: #10193a;
  --color-gray: #5e6786;
  --color-shade: #f8f9ff;
  --color-white: #f1f4ff;
  --color1: #34c2cb;
  --color2: #ff8e4f;
  --color-red: #ff1010;

  --fd-small: 16px;
  --fd-normal: 20px;
  --fd-big: 24px;
  --fm-tiny: 12px;
  --fm-normal: 14px;
  --fm-big: 16px;

  --transition-duration-button: 120ms;
  --box-shadow: 0 10px 50px rgba(0, 128, 128, 0.1);
}

@font-face {
  font-family: "Satoshi";
  src:
    url("../../public/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("../../public/fonts/Satoshi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.bold {
  font-family: "Satoshi", sans-serif;
  font-weight: bold;
}

body {
  min-width: 320px;
  min-height: 100vh;

  margin: 0;
  border: 1px solid transparent;

  background-color: #ffffff;

  scroll-behavior: smooth;

  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fm-normal);
  color: var(--color-gray);
}

.button {
  border: 2px solid var(--color2);
  border-radius: 12px;
  padding: 6px 12px;

  cursor: pointer;

  font-weight: bold;
  color: #ffffff;

  background-color: var(--color2);
}

.button:hover {
  transition-duration: var(--transition-duration-button);
  background-color: #ffffff;
  border-color: var(--color2);
  color: var(--color2);
}

.disable-selection {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.color-blue {
  color: var(--color1);
}

.color-orange {
  color: var(--color2);
}

.color-red {
  color: var(--color-red);
}
