.section {
  border: 1px solid red;
}

.container {
  display: flex;
  justify-content: center;
  border: 1px solid purple;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  min-width: 280px;
  max-width: 400px;

  border: 1px solid green;
  margin: 20px 0;
}

.narrative {
  text-align: center;
  /* color: var(--c-1); */
}

.name {
  border: 1px solid blue;
  text-align: center;
  /* color: var(--c-1); */
  font-size: var(--fm-title);
}

.description {
  border: 1px solid yellow;
  padding: 10px;
  text-align: center;
}

.stats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* width: 100%; */

  border: 1px solid red;
}

.button {
  width: 160px;
}

@media screen and (min-width: 1000px) {}
