.section {
  padding: var(--nav-below) 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-width: 280px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;

  min-width: 280px;

  margin: 20px;
}

.image {
  max-width: 400px;
  margin-bottom: 10px;
}

.image img {
  border-radius: 33%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  min-width: 280px;
  max-width: 400px;

  margin-bottom: 40px;
}

.quote {
  max-width: 360px;

  font-size: var(--fm-normal);
  text-align: center;
}

.stats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.certificates {
  border: 1px solid #000;
  width: 260px;
  height: 60px;
}

.button {
  width: 160px;
  margin: 4px;
  font-size: var(--fm-normal);
}

@media screen and (min-width: 1000px) {
  .info {
    max-width: 460px;
    gap: 20px;
  }

  .image {
    max-width: 400px;
  }

  .quote {
    font-size: var(--fd-normal);
    max-width: 400px;
  }

  .button {
    font-size: var(--fd-normal);
    margin: 6px;
  }
}
