.container {
  display: flex;

  width: 800px;
  height: 500px;

  margin: auto;
  border: 1px solid red;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin: 10px;
}

.heading {
  border: 1px solid #000;
  padding: 10px;
}

.info {
  border: 1px solid #000;
  padding: 10px;
}

.stats {
  border: 1px solid #000;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.portrait {
  border: 1px solid teal;
  border-radius: 36%;
}
