.container {
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  gap: 20px;

  min-width: 300px;
  max-width: 620px;
  height: auto;

  margin: 20px auto;
  padding: 10px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.heading {
  text-align: center;
}

.name {
  text-align: left;
  color: var(--color-blue);
}

.info {
  border: 1px solid var(--color-gray-border);
  border-radius: 10px;
  padding: 10px 14px;

  background-color: var(--color-white);
}

.stats-group {
  display: flex;
  align-items: center;

  margin: 0 auto;
}

.stats {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin: 0 auto;
  /* background-color: var(--color-blue-light); */
  /* border: 1px solid var(--color-gray-border); */
  /* border-radius: 10px; */
}

.button {
  width: 160px;

  margin: 0 auto;
}

.portrait {
  width: 100%;
  max-width: 500px;

  margin: auto;
  border-radius: 36%;
}

@media screen and (min-width: 1200px) {
  .container {
    flex-direction: row;
  }
}
