.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100px;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image {
  width: 32px;
  height: 32px;
}

.value {
  white-space: nowrap;
  font-size: var(--fm-big);
  color: var(--c-1);
}

.info {
  text-align: center;
  font-style: italic;
  font-size: var(--fm-normal);
}

@media screen and (min-width: 1000px) {
  .container {
    width: 120px;
  }

  .image {
    width: 36px;
    height: 36px;
  }

  .value {
    font-size: var(--fd-big);
  }

  .info {
    font-size: var(--fd-normal);
  }
}
