
.container {
  background-color: var(--c-1L);

  padding: 40px 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  max-width: 1200px;

  margin: auto;
}

.group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  width: fit-content;
}

@media screen and (min-width: 1000px) {
  .container {
    padding: 60px 0;
  }

  .content {
    gap: 10px;
  }
}
