.section {
  padding: var(--nav-below) 0;
  background-color: var(--c-1L);
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  max-width: 1200px;

  margin: auto;
}

.group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  width: fit-content;
}

@media screen and (min-width: 1000px) {
  .content {
    gap: 10px;
  }
}
