.container {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  min-width: 280px;
  width: 100%;
  height: 320px;

  border-radius: 8px;
  padding: 20px;

  text-align: center;
  background-color: #ffffff;

  box-shadow: var(--box-shadow2);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.image-container {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;

  width: 80px;
  height: 80px;
}

.image {
  width: 100%;
  height: 100%;
}

.title {
  margin: auto;

  color: var(--c-1);
  font-size: var(--fm-big);
}

.description {
  font-size: var(--fm-normal);
  max-width: 400px;
}

@media screen and (min-width: 800px) {
  .container {
    min-width: 250px;

    box-shadow: none;
  }
}

@media screen and (min-width: 900px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    box-shadow: none;
  }

  .title {
    font-size: var(--fd-big);
  }

  .description {
    font-size: var(--fd-normal);
  }
}
