.container {
  /* border: 1px solid green; */
  width: 100%;
  min-width: 280px;
  max-width: 800px;
  height: 320px;

  border-radius: 8px;
  padding: 20px;

  background-color: var(--c-1L);

  /* box-shadow: var(--box-shadow); */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  width: 100%;
  max-width: 400px;
  height: 100%;

  margin: auto;
}

.image-container {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: center;
  align-items: end;

  width: 100%;
  max-width: 400px;
  height: 40%;
}

.image {
  width: 80px;
  height: 80px;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;

  width: 100%;
  max-width: 400px;
}

.title {
  margin: auto;

  color: var(--c-1);
  font-size: var(--fm-big);
}

.description {
  font-size: var(--fm-normal);
}

@media screen and (min-width: 1000px) {
  .container {
    height: 400px;
  }

  .image {
    width: 100px;
    height: 100px;
  }

  .title {
    font-size: var(--fd-big);
  }

  .description {
    font-size: var(--fd-normal);
  }
}

@media screen and (min-width: 1300px) {
  .container {
    width: 340px;
    height: 420px;
  }

  .title {
    font-size: var(--f-huge);
  }
}
