.content {
  text-align: center;
  max-width: 500px;
  margin: 0 20px;
}

.title {
  font-size: var(--fm-title);
  color: var(--c-2);
}

.heading {
  font-size: var(--fm-big);
}

.description {
  font-size: var(--fm-normal);
}

@media screen and (min-width: 360px) {
  .heading {
    font-size: 26px;
  }
}

@media screen and (min-width: 460px) {
  .heading {
    font-size: 30px;
  }
}

@media screen and (min-width: 560px) {
  .heading {
    font-size: 36px;
  }
}

@media screen and (min-width: 1000px) {
  .title {
    font-size: var(--fd-title);
  }

  .heading {
    font-size: var(--f-huge2);
  }

  .description {
    font-size: var(--fd-normal);
  }
}
