#certificates-section {

}

.certificates {
    display: flex;
    margin: auto;
    border: 3px solid teal;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 1400px;
}

.certificate_container {
    width: 200px;
    height: auto;
    border: 1px solid var(--color-gray);
}