.contact_group {
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 2px var(--color-dark);
    border: 1px solid var(--color-gray);
}

.form-and-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) {
    .form-and-info-container {
        flex-direction: row;
        height: 400px;
    }
}