.container {
  display: flex;
  align-items: center;

  padding: 6px;
  border-radius: 8px;

  background-color: #ffffff;
}

.image {
  width: 34px;
  height: 34px;

  margin-left: 2px;
  margin-right: 8px;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--fm-normal);
  color: var(--c-1);
}

.description {
  font-size: var(--fm-normal);

  transition-duration: 200ms;
}

.link:hover {
  color: var(--c-2);
}

@media screen and (min-width: 1000px) {
  .image {
    width: 36px;
    height: 36px;

    margin-left: 4px;
    margin-right: 10px;
  }

  .title {
    font-size: var(--fd-normal);
  }

  .description {
    font-size: var(--fd-normal);
  }
}
