.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  min-width: 280px;
  width: 280px;
  height: 280px;

  margin: 20px;
  border: 1px solid var(--c-border);
  border-radius: 8px;
  padding: 10px;

  background-color: #ffffff;
}

@media screen and (min-width: 1000px) {
  .container {
    width: 320px;
    height: 320px;
    gap: 16px;
  }
}
